#alert {
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;

  width: 100%;
  height: 100%;

  font-size: xx-large;

  z-index: 2;
  padding: 0 1ch;
}

.error {
  color: red;
}

canvas#main {
  width: 100%;
  height: 100%;

  background-color: #000;
}

body {
  width: 100vw;
  height: 100vh;

  margin: 0;
  overflow: hidden;
}

#info {
  position: fixed;
  padding: 2px;

  color: white;

  opacity: 50%;
  font-family: monospace;

  transition: opacity 0.2s;

  &:hover {
    background-color: #000;
    opacity: 100%;
  }

  z-index: 999;
}

#chevron {
  height: 1em;
  aspect-ratio: 1;
  float: right;

  transform: rotate(180deg);
}

#chevron.collapsed {
  transform: rotate(0);
}

#content.collapsed {
  height: 0;
  opacity: 0;
}

h1,
h2 {
  font-size: 1em;
  display: inline;
}

label {
  display: flex;
  align-items: flex-start;
}

label > span {
  margin-right: 1ch;
}

input[type="range"] {
  appearance: none;
  height: 1em;
  background: #808080;
  opacity: 0.7;
  transition: opacity 0.2s;
  border-radius: 10000px;
}

input[type="range"]::-webkit-slider-thumb {
  appearance: none;
  width: 1em;
  height: 1em;
  background: #ae1adb;
  cursor: pointer;
  border-radius: 10000px;
}

input[type="range"]::-moz-range-thumb {
  appearance: none;
  width: 1em;
  height: 1em;
  background: #ae1adb;
  cursor: pointer;
  border-radius: 10000px;
}
